html {
  background: url(../images/farming_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
	background: transparent;
}

.jumbotron {
	align: center;
	background: rgba(0,0,0,0.3);
}

.jumbotron h1 {
	color: #abff4f;
	font-size: 100px;
	font-weight: bold;
}

.jumbotron h3 {
	color: #d6ff79;
	font-size: 30px;
}

.form-padding-custom {
  padding: 10px;
}
